$icomoon-font-family: "shopeame-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-tiktok: "\e900";
$icon-products: "\e901";
$icon-list: "\e902";
$icon-home: "\e903";
$icon-gear: "\e904";
$icon-blocks: "\e905";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";

