:root {
    --white: #ffffff;
    --dark-white: #eeeeee;
    --transparent-grey: #ebf2ff4d;
    --lighter-grey: #adacac;
    --light-grey: #888888;
    --grey: #787885;
    --medium-grey: #444444;
    --dark-grey: #333333;
    --light-blue: #9dc2ff;
    --blue: #2264d1;
    --degrading-blue: #2979ff;
    --degrading-blue2: #4c589e;
    --light-orange: #ffc970;
    --orange: #f89f21;
    --dark-orange: #fb8200;
    --transparent-black: rgba(0, 0, 0, 0.25);
}
