.b-form {
    padding: 0;

    legend {
        display: none;
    }

    &__fieldset {
        border: none;
    }

    &__label {
        margin-bottom: 12px;
        font-size: 14px;
    }

    &__input {
        margin-bottom: 22px;
        font-size: 14px;

        &::placeholder {
            color: var(--light-grey);
            font-size: 12px;
        }
    }

    &__button {
        color: var(--white);
        background-color: var(--orange);
        border-radius: 6px;
        border: none;
        width: 120px;
        height: 32px;
        align-self: flex-end;
    }
}
