.b-header {
    height: 100px;
    background-color: #ffffff;
    text-decoration: none;

    &__top {
        height: 100px;
        width: 100%;
        margin: 0;
    }

    &__logo {
        height: 40px;
        width: 40px;
        margin: 12px;
        border-radius: 6px;
        background: linear-gradient(90deg, #2979ff 0%, #4c589e 100%);
        color: #ffffff;
        font-size: 36px;
        font-weight: bold;
    }

    &__h1 {
        font-size: 36px;
        font-family: "red-hat";
    }

    &__nav {
        height: 72px;
        width: 100%;
        background-color: #ffc970;
        z-index: 100;
        margin-bottom: 100px;
    }

    &__div {
        height: 56px;
        width: 100px;
        margin: 9px 0 7px 0;
        border-radius: 10px;

        &:hover {
            background-color: #ebf2ff4d;
        }
    }

    &__link {
        font-size: 14px;
        text-decoration: none;
        color: #444444;
    }
}
