.b-header {
    height: 100px;
    background-color: var(--white);
    text-decoration: none;

    &__top {
        height: 100px;
        width: 100%;
        margin: 0;
    }

    &__logo {
        height: 40px;
        width: 40px;
        margin: 12px;
        border-radius: 6px;
        background: linear-gradient(90deg, var(--degrading-blue) 0%, var(--degrading-blue2) 100%);
        color: var(--white);
        font-size: 36px;
        font-weight: bold;
    }

    &__h1 {
        font-size: 36px;
        font-family: "red-hat";
    }

    &__nav {
        height: 72px;
        width: 100%;
        background-color: var(--light-orange);
        z-index: 100;
        margin-bottom: 100px;
    }

    &__div {
        height: 56px;
        width: 100px;
        margin: 9px 0 7px 0;
        border-radius: 10px;

        &:hover {
            background-color: var(--transparent-grey);
        }
    }

    &__link {
        font-size: 14px;
        text-decoration: none;
        color: var(--medium-grey);
    }
}
